{% extends "base.html" %}
{% load static %}

{%block style%}
  <link href="{% static 'css/home.css'%}" rel="stylesheet">
   <style> 
    #main-content {
      height: 100vh;  
      width: 100%;
      overflow-y: none;
      display:flex;
    }
   </style>
{% endblock %}


{% block content %} 

  {%if teacher %}
    {% include 'dashboard_teacher_component.html' %} 
  {% endif %}
 
  {%if student %}
    {% include 'dashboard_student_component.html' %}
  {% endif %}

  <p> {{sections}}</p>
{% endblock %}
