
{% extends "base.html" %}

{% load static %}

{%block style%}

  <link href="{% static 'css/admin.css'%}" rel="stylesheet">
   <style> 
    #main-content {
      background-image: url("{% static 'image/home-img.jpg'%}");
      background-size:cover;
      height: 100vh;  
      width: 100%;
      overflow-y: none;
      display:flex;
    }
   </style>

{% endblock %}
{% block content %}

  <div class="form-container">
    <h1 class="form-container-title">Admin Login</h1>

    <form method="post">
      
      {% csrf_token %}
      
      <div class="form-group">
        <input name="username" placeholder="Username">
        {{ form.username.errors }}
      </div>

      <div class="form-group">
        <input name="password" type="password" placeholder="Password">

        {{ form.password.errors }}
      </div>
      
      <button class="btn  c-btn"  type="submit">Submit</button>
      
      <a > go back</a>
    </form>

  </div>
{% endblock %}
