{% extends "auth-base.html" %}

{% load static %}

{% block form-style%}
{%endblock%}


{% block form-title %}Admin Login {% endblock %}

{% block form %}
    <div class="mb-3">
        <label class="form-label small fw-bold text-muted">Username</label>
        <div class="input-group">
            <input name="username" class="form-control border-start-0 ps-0" placeholder="Ej: alu001" required>
        </div>
    </div>

    <div class="mb-4">
        <label class="form-label small fw-bold text-muted">password</label>
        <div class="input-group">
            <input name="password" type="password" class="form-control border-start-0 ps-0" placeholder="••••••••" required>
        </div>
    </div>
{% endblock %}
